body {
  margin: 0;
  padding: 0;
  background-color: #f1eae0;
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.Parent {
  position: relative;
  top: 0;
  left: 0;
}
.InvitationImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.SlideImg
{
  max-width: 100%;
  height: auto;
}
.SlideCol
{
  width: 100%;
  position: absolute;
  text-align: center;
}
.NamesCol
{
  bottom: 46%;
}
.OccasionCol
{
  bottom: 24%;
}
.HelpDeskCol
{
  bottom: 3.2%;
}
.FadeInAnimation
{
  opacity: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .LocationCol {
    bottom: 14.5%;
  }
  .ContactCol1 {
    position: absolute;
    bottom: 5.6%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.2%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 24px;
    width: 16px;
  }
  .CallIcon {
    height: 22px;
    width: 22px;
  }
  .WhatsAppIcon {
    height: 22px;
    width: 22px;
  }
}

/* Special small devices with height less than 650 (phones, height 650px and down) */
@media only screen and (max-height: 660px) {
  .LocationCol {
    bottom: 14.5%;
  }
  .ContactCol1 {
    position: absolute;
    bottom: 5.6%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.2%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 22px;
    width: 14px;
  }
  .CallIcon {
    height: 18px;
    width: 18px;
  }
  .WhatsAppIcon {
    height: 18px;
    width: 18px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .LocationCol {
    bottom: 14.5%;
  }
  .ContactCol1 {
    position: absolute;
    bottom: 5.78%;
    left: 54.6%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.48%;
    left: 54.6%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 28px;
    width: 20px;
  }
  .CallIcon {
    height: 30px;
    width: 30px;
  }
  .WhatsAppIcon {
    height: 30px;
    width: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .LocationCol {
    bottom: 14.5%;
  }
  .ContactCol1 {
    position: absolute;
    bottom: 5.65%;
    left: 53.8%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.45%;
    left: 53.8%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 30px;
    width: 22px;
  }
  .CallIcon {
    height: 33px;
    width: 33px;
  }
  .WhatsAppIcon {
    height: 33px;
    width: 33px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .LocationCol {
    bottom: 14.5%;
  }
  .ContactCol1 {
    position: absolute;
    bottom: 5.65%;
    left: 53.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.4%;
    left: 53.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 30px;
    width: 22px;
  }
  .CallIcon {
    height: 35px;
    width: 35px;
  }
  .WhatsAppIcon {
    height: 34px;
    width: 34px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .LocationCol {
    bottom: 14.5%;
  }
  .ContactCol1 {
    position: absolute;
    bottom: 5.65%;
    left: 52.7%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.4%;
    left: 52.7%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 30px;
    width: 22px;
  }
  .CallIcon {
    height: 35px;
    width: 35px;
  }
  .WhatsAppIcon {
    height: 34px;
    width: 34px;
  }
}
