body {
  margin: 0;
  padding: 0;
  background-color: #f1eae0;
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.Parent {
  position: relative;
  top: 0;
  left: 0;
}
.InvitationImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.SlideImg
{
  max-width: 100%;
  height: auto;
}
.SlideCol
{
  width: 100%;
  position: absolute;
  text-align: center;
}
.NamesCol
{
  bottom: 46%;
}
.OccasionCol
{
  bottom: 24%;
}
.HelpDeskCol
{
  bottom: 3.2%;
}
.LocationCol {
  width: 100%;
  position: absolute;
  bottom: 14.5%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.LocationDiv
{
  z-index: 100 !important;
  padding: 2px;
}
.animatedpulsecircle {
  border-radius: 50%;
  background-color: #d05a45;
  bottom: 25% !important;
  /* left: 48.8%; */
  position: absolute;
  opacity: 0;
  animation: scaleIn 3s infinite cubic-bezier(.36, .11, .89, .32);
}
@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
.FadeInAnimation
{
  opacity: 0;
}
a 
{
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ContactCol1 {
    position: absolute;
    bottom: 5.6%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.2%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 24px;
    width: 16px;
  }
  .animatedpulsecircle
  {
    width: 20px;
    height: 20px;
  }
  .ContactIcon {
    height: 22px;
    width: 22px;
  }
}

/* Special small devices with height less than 650 (phones, height 650px and down) */
@media only screen and (max-height: 660px) {
  .ContactCol1 {
    position: absolute;
    bottom: 5.6%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.2%;
    left: 55.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 22px;
    width: 14px;
  }
  .animatedpulsecircle
  {
    width: 18px;
    height: 18px;
  }
  .ContactIcon {
    height: 18px;
    width: 18px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ContactCol1 {
    position: absolute;
    bottom: 5.78%;
    left: 54.6%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.48%;
    left: 54.6%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 28px;
    width: 20px;
  }
  .animatedpulsecircle
  {
    width: 20px;
    height: 20px;
  }
  .ContactIcon {
    height: 30px;
    width: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ContactCol1 {
    position: absolute;
    bottom: 5.65%;
    left: 53.8%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.45%;
    left: 53.8%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 30px;
    width: 22px;
  }
  .animatedpulsecircle
  {
    width: 24px;
    height: 24px;
  }
  .ContactIcon {
    height: 33px;
    width: 33px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ContactCol1 {
    position: absolute;
    bottom: 5.65%;
    left: 53.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.4%;
    left: 53.5%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 30px;
    width: 22px;
  }
  .animatedpulsecircle
  {
    width: 25px;
    height: 25px;
  }
  .ContactIcon {
    height: 35px;
    width: 35px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ContactCol1 {
    position: absolute;
    bottom: 5.65%;
    left: 52.7%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .ContactCol2 {
    position: absolute;
    bottom: 3.4%;
    left: 52.7%;
    display: inline-flex;
    column-gap: 15%;
    justify-content: space-between;
  }
  .LocationIcon {
    height: 30px;
    width: 22px;
  }
  .animatedpulsecircle
  {
    width: 25px;
    height: 25px;
  }
  .ContactIcon {
    height: 35px;
    width: 35px;
  }
}
